@tailwind base;
@tailwind components;
@tailwind utilities;


label {
    text-shadow: 3px 3px rgb(50,50,70,0.5);
}    

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 100vh;
    width: 100vw;
    max-width: 6500px;

    background-image: linear-gradient(to left top, rgb(0,0,0,0.2), rgb(0,0,0,.8)), url('./assets/hot-bg2.jpg');
    background-size: cover;
    transition: 0.5s ease-out;
}

.container.cold {
    background-image: linear-gradient(to bottom, rgb(0,0,0,0.2), rgb(0,0,0,0.55)), url('./assets/cold-bg2.jpg');
}

.container.cloudy {
    background-image: linear-gradient(to bottom, rgb(0,0,0,0.2), rgb(0,0,0,0.55)), url('./assets/cloudy-bg2.jpg');
}

.input {
    background-color: rgb(255,255,255,0.7);
    box-shadow: 3px 3px rgb(50,50,70,0.5);
    border: none;
    border-radius: 1em;
}

input:focus {
	outline: none;
}

.location-name {
    text-shadow: 3px 1px rgb(50,50,70,0.5);
}

.degrees {
    font-size: 75px;
    text-shadow: 3px 3px rgb(50,50,70,0.5);

    background-color: rgb(255,255,255,0.2);
    border-radius: 10px;

    box-shadow: 3px 3px rgb(50,50,70,0.5);
}

.desc {
    text-shadow: 3px 3px rgb(50,50,70,0.5);
}

.content-box {
    background-color: rgb(255,255,255,0.1);
    border-radius: 10px;
}